<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>实时消耗和统计消耗对比分析 - TVM广告同步监测系统</title>

<link href="{*base_url*}static/css/bootstrap.min.css" rel="stylesheet">
<link href="{*base_url*}static/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="{*base_url*}static/css/publish.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="{*base_url*}static/js/html5shiv.min.js"></script>
<script src="{*base_url*}static/js/respond.min.js"></script>
<![endif]-->

<script src="{*base_url*}static/js/jquery.min.js"></script>
<script src="{*base_url*}static/js/bootstrap.min.js"></script>
<script src="{*base_url*}static/js/popover.js"></script>
<script src="{*base_url*}static/js/ZeroClipboard.min.js"></script>
<script src="{*base_url*}static/js/modules/ztc.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <form class="navbar-form navbar-top text-right" role="search" method="get" action="" style="padding:0">
        <div class="form-group">
          <select name="status" class="form-control">
            <option value="0" {% if tonumber(args.status) == 0 then %}selected="selected"{% end %}>投放状态-全部</option>
            <option value="1" {% if tonumber(args.status) == 1 then %}selected="selected"{% end %}>投放中</option>
            <option value="2" {% if tonumber(args.status) == 2 then %}selected="selected"{% end %}>暂停</option>
            <!--<option value="3" {% if tonumber(args.status) == 3 then %}selected="selected"{% end %}>停止</option>-->
            <option value="4" {% if tonumber(args.status) == 4 then %}selected="selected"{% end %}>撞线</option>
          </select>
        </div>
        <div class="form-group">
          <select name="date" class="form-control">
            {% local d = now:adddays(-6) %}
            <option value="{{now:fmt('%Y-%m-%d')}}" {% if args.date == now:fmt('%Y-%m-%d') then %}selected="selected"{% end %}>{{now:fmt("%Y-%m-%d")}}</option>
            {% for i=0, 5, 1 do %}
            {% local d = now:adddays(1) %}
            <option value="{{d:fmt('%Y-%m-%d')}}" {% if args.date == nil or args.date == '' or args.date == d:fmt('%Y-%m-%d') then %}selected="selected"{% end %}>{{d:fmt("%Y-%m-%d")}}</option>
            {% end %}
          </select>
        </div>
        <div class="form-group">
          <input name="keyword" type="text" class="form-control" placeholder="广告主id/计划id" value="{{args.keyword}}">
        </div>
        <button type="submit" class="btn btn-primary">搜&nbsp;&nbsp;索</button>
        <input type="hidden" name="orderProperty" value="{{args.orderProperty}}" />
        <input type="hidden" name="orderDirection" value="{{args.orderDirection}}" />
      </form>
    </div>

    <div class="table-responsive">
      <table class="table table-hover" style="margin-bottom: 0px;">
        <tr style="background-color:#E6E2EB;">
          <th class="text-center" style="border-right:1px solid #ddd">序号</th>
          <th class="text-center dropdown" data-order-property order-property="pubid" style="border-right:1px solid #ddd; cursor:pointer">计划ID{%if args.orderProperty == 'pubid' then%} <span class="caret"></span>{%end%}</th>
          <th class="text-center" data-order-property order-property="adverid" style="border-right:1px solid #ddd; cursor:pointer">广告主 {%if args.orderProperty == 'adverid' then%} <span class="caret"></span>{%end%}</th>
          <th class="text-center dropup" data-order-property order-property="ceiling" style="border-right:1px solid #ddd; cursor:pointer">预算(元) {%if args.orderProperty == 'ceiling' then%} <span class="caret"></span>{%end%}</th>
          <!--<th class="text-center" style="border-right:1px solid #ddd">实时曝光</th>-->
          <th class="text-center" data-order-property order-property="rlconsume" style="border-right:1px solid #ddd; cursor:pointer">实时消耗(元) {%if args.orderProperty == 'rlconsume' then%} <span class="caret"></span>{%end%}</th>
          <!--<th class="text-center" style="border-right:1px solid #ddd">实时点击</th>-->
          <th class="text-center" data-order-property order-property="status" style="border-right:1px solid #ddd; cursor:pointer">投放状态 {%if args.orderProperty == 'status' then%} <span class="caret"></span>{%end%}</th>
          <th class="text-center" data-order-property order-property="uptime" style="border-right:1px solid #ddd; cursor:pointer">最后更新时间 {%if args.orderProperty == 'uptime' then%} <span class="caret"></span>{%end%}</th>
          <th class="text-center" data-order-property order-property="stshow" style="border-right:1px solid #ddd; cursor:pointer">统计曝光 {%if args.orderProperty == 'stshow' then%} <span class="caret"></span>{%end%}</th>
          <th class="text-center" data-order-property order-property="stconsume" style="border-right:1px solid #ddd; cursor:pointer">统计消耗(元) {%if args.orderProperty == 'stconsume' then%} <span class="caret"></span>{%end%}</th>
          <th class="text-center" data-order-property order-property="stclick" style="border-right:1px solid #ddd; cursor:pointer">统计点击 {%if args.orderProperty == 'stclick' then%} <span class="caret"></span>{%end%}</th>
          <th class="text-center">数据预警</th>
        </tr>
        {% for k, p in pairs(publishs) do %}
        <tr {%if tonumber(p.status) == 4 then%} style="background-color: #FCF8E3"{%elseif tonumber(p.status) == 1 then%} style="background-color: #fff"{%else%} style="background-color: #DFF0D8"{%end%}>
          <td class="text-center">{{k}}</td>
          <td class="text-center"><a href="http://e.tvm.cn/dev-monitor/publish.php?pid={{p.publish_id}}&date={{args_date_format}}" target="_blank">{{p.publish_id}}</a></td>
          <td class="text-center">{{p.shortcom}}({{p.advertiser_id}})</td>
          <td class="text-center">{{string.format("%.2f", p.ceiling/100)}}</td>
          <!--<td class="text-center">{%if p.rl_show == ngx.null then%}-{%else%}{{p.rl_show}}{%end%}</td>-->
          <td class="text-center">{%if p.rl_consume == ngx.null then%}-{%else%}{{string.format("%.2f", p.rl_consume/100)}}{%end%}</td>
          <!--<td class="text-center">{%if p.rl_click == ngx.null then%}-{%else%}{{p.rl_click}}{%end%}</td>-->
          <td class="text-center">{{p.status_flag}}</td>
          <td class="text-center">
          {%if p.status == 4 then%}
            {%if p.reached_at == ngx.null then%}
            -
            {%else%}
            {{p.reached_at}}
            {%end%}
          {%else%}
            {%if p.paybacked_at == ngx.null then%}
            -
            {%else%}
            {{p.paybacked_at}}
            {%end%}
          {%end%}</td>
          <td class="text-center">{%if p.st_show == ngx.null then%}-{%else%}{{p.st_show}}{%end%}</td>
          <td class="text-center">{%if p.st_consume == ngx.null then%}-{%else%}{{string.format("%.2f", p.st_consume/100)}}{%end%}</td>
          <td class="text-center">{%if p.st_click == ngx.null then%}-{%else%}{{p.st_click}}{%end%}</td>
          <td class="text-center">{%if tonumber(p.alarm_status) == 1 then%}正常{%else%}<span style="color:red; font-weight:bold">异常</span>{%end%}</td>
        </tr>
        {% end %}
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
// 是否可投放弹出框
$('[data-toggle="popover"]').popover();

$().ready(function() {
  var $form = $("form");
  var $orderProperty = $("input[name='orderProperty']");
  var $orderDirection = $("input[name='orderDirection']");
  $("[order-property='" + $orderProperty.val() + "']").removeClass("dropup").removeClass("dropdown").addClass($orderDirection.val() == "asc" ? "dropup" : "dropdown");
  $("[data-order-property]").click(function() {
    var $element = $(this);
    $orderProperty.val($element.attr("order-property"));
    $orderDirection.val($orderDirection.val() == "asc" ? "desc" : "asc");
    $form.submit();
    return false;
  });
});
</script>
</body>
</html>